

<h1>Welcome to Similizer</h1>

<h2>Enter an artist you like to find suggestions for</h2>




<form action="/artist" method="get">
  <label for="artist">Artist</label>
  <input type="text" name="artist">
  <input type="submit">
</form>
